<div>
<br><br>
<div class="form-group">
    <div class="col-xs-4">
        <label for="target">Target:</label>
    </div>
    <div class="col-xs-7">
        <input id="target" placeholder="Target" ng-model="dataCtrl.tbt[dataCtrl.tbt.val]" type="text" class="form-control"/>
    </div>
   <i class="fa fa-trash-o fa-lg custom col-xs-1" aria-hidden="true" ng-click="dataCtrl.trash()"></i>
</div>
<br>
    <div class="form-group">
    <div class="col-xs-4">
        <label for="title">Title:</label>
    </div>
    <div class="col-xs-7">
        <input id="title" placeholder="Title" ng-model="dataCtrl.step1.title1" type="text" class="form-control"/>
    </div>
</div>
<br>
<div class="form-group">
    <div class="col-xs-4">
        <label for="content">Content:</label>
    </div>
    <div class="col-xs-7">
        <input id="content" placeholder="Content" ng-model="dataCtrl.step1.content1" type="text" class="form-control"/>
    </div>
</div>
<br>
<div class="form-group">
    <div class="col-xs-4">
        <label for="placement">Placement:</label>
    </div>
    <div class="col-xs-7">
        <input id="placement" placeholder="Placement" ng-model="dataCtrl.step1.placement1" type="text" class="form-control"/>
    </div>
</div>
<br>
</div>


