<div class="form-group">
    <div class="col-xs-4">
        <label for="target">Target:</label>
    </div>
    <div class="col-xs-8">
        <input id="target" placeholder="Target" ng-model="dataCtrl.obj.target1" type="text" class="form-control"/>
    </div>
</div>
<br>
<div class="form-group">
    <div class="col-xs-4">
        <label for="title">Title:</label>
    </div>
    <div class="col-xs-8">
        <input id="title" placeholder="Title" ng-model="dataCtrl.obj.title1" type="text" class="form-control"/>
    </div>
</div>
<br>
<div class="form-group">
    <div class="col-xs-4">
        <label for="content">Content:</label>
    </div>
    <div class="col-xs-8">
        <input id="content" placeholder="Content" ng-model="dataCtrl.obj.content1" type="text" class="form-control"/>
    </div>
</div>
<br>
<div class="form-group">
    <div class="col-xs-4">
        <label for="placement">Placement:</label>
    </div>
    <div class="col-xs-8">
        <input id="placement" placeholder="Placement" ng-model="dataCtrl.obj.placement1" type="text" class="form-control"/>
    </div>
</div>